@font-face {
    font-family: 'GOTfont';
    src: url("../../assets/fonts/Game of Thrones.ttf") format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap');

.page {
    margin: 0;
    padding: 0;
    background-image: url(../../assets/images/background.png);
}

.logo {
    content: url(../../assets/images/GOTlogo.png);
}

.link {
    color: inherit;
    text-decoration: none;
}

.backg-img {
    background-image: url("../../assets/images/throne.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    align-self: start;
    margin: 0;
    padding: 0;
}

.wrapper {
    display: grid;
    position: relative;
    gap: 10px;
    grid-template-columns: 1fr minmax(3fr, auto) 1fr;
    grid-template-rows: 1fr repeat(4, minmax(250px, auto));
    overflow: hidden;
    object-fit: cover;
    z-index: 500;
    margin: 0;
    padding: 0;

    .fire-img {
        content: url(../../assets/images/fire.png);
        transform: scaleY(-1);
        position: absolute;
        top: 0%;
        right: -50%;
        z-index: -1;
    }

    .dragon-img {
        content: url(../../assets/images/dragon.png);
        transform: rotateY(3.142rad);
        object-fit: fill;
        position: absolute;
        top: 30%;
        left: -60%;
    }

    .titles {
        grid-row: 3;
        grid-column: 1 / 4;
        text-align: right;
        margin-right: 50px;
        z-index: 100;

        .title-font {
            font-family: 'GOTfont', sans-serif;
            font-size: 48px;
            color: white;
        }

        .main-title-font {
            font-family: 'GOTfont', sans-serif;
            font-size: 100px;
            color: white;
            align-self: baseline;
        }

        .start-btn {
            font-family: "Marcellus SC", serif;
            font-size: 48px;
            width: 400px;
            height: 85px;
            background: none;
            background-color: rgba(0, 0, 0, 0.5);
            border-color: white;
            border-radius: 24px;
            color: white;

            &:hover {
                background-color: white;
                color: black;
                border-color: black;
            }
        }
    }
}

.login-btn {
    background: none;
    font-size: 16px;
    border-color: white;
    border-width: 3px;
    border-radius: 50px;
    color: white;
    width: 120px;
    height: 40px;
    z-index: 500;

    &:hover {
        background-color: white;
        color: black;
    }
}

nav {
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 4fr auto;
    grid-column: 1 / 4;
    align-items: center;
    color: white;
    z-index: 500;

    .menu-info {
        grid-column: 3;
        padding: 5px;
        text-align: center;
        justify-content: center;
        align-items: center;

        ul {
            font-family: "Roboto", sans-serif;
            display: flex;
            align-items: center;
            justify-content: center;

            li {
                list-style: none;
                display: inline;
                margin-left: 30px;
            }
        }
    }
}

.bg-img {
    background-image: url(../../assets/images/background.png);
    grid-row: 6;
    grid-column: 1;
    z-index: -1000;
}

.footer {
    width: 100%;
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px 0;

    &__socials {
        display: flex;
        justify-content: center;
        gap: 16px;
        margin-bottom: 16px;

        a {
            color: #fff;
            font-size: 1.5rem;
            transition: color 0.3s;

            &:hover {
                color: #007bff;
            }
        }
    }

    &__links {
        margin-bottom: 16px;

        a {
            color: #fff;
            margin: 0 10px;
            text-decoration: none;
            font-size: 16px;
            transition: color 0.3s;

            &:hover {
                color: #007bff;
            }
        }
    }

    &__copyright {
        font-size: 16px;
        border-top: 1px solid #333;
        padding-top: 12px;
        margin: 0 auto;
        margin-top: 10px;
        width: 30%;
    }
}

.vector,
.reverse-vector {
    content: url(../../assets/images/Vector.png);
}

.vector {
    position: absolute;
    bottom: 0%;
    width: 100vw;
    background-size: cover;
}

.reverse-vector {
    position: absolute;
    transform: rotateX(3.142rad);
    width: 98.8vw;
    z-index: -100;
}

#info_sec {
    display: grid;
    grid-template-columns: 1fr 3fr;
    background-image: url(../../assets/images/background-prf.png);

    .col-1 {
        margin: 50px;
        grid-column: 1;

        button {
            background: none;
            border: none;
            border-radius: 50%;
            padding: 50px;

            &:focus {
                border: 3px solid white;
            }
        }

        img {
            cursor: pointer;

            &:focus {
                border: 3px;
            }
        }

        #eyrie-logo {
            content: url(../../assets/images/eyrie-logo.png);
        }

        #dragonstone-logo {
            content: url(../../assets/images/dragonstone-logo.png);
        }

        #kingslanding-logo {
            content: url(../../assets/images/kingslanding-logo.png);
        }
    }

    .col-2 {
        display: flex;
        flex-direction: column;
        align-content: center;
        place-content: center;

        .info {
            width: calc(100% - 200px);
            margin: 0 50px 0 50px;
            color: white;

            h3 {
                font-family: 'GOTfont', sans-serif;
                font-size: 80px;
                text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
                margin: 20px;
            }

            p {
                font-family: "Marcellus SC", serif;
                font-size: 30px;
            }
        }

        .fade {
            opacity: 0;
            animation: fadeIn 1.5s forwards;
        }

        @keyframes fadeIn {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }
    }
}